
---
layout: default
title: Blog
---
<h1>Blog</h1>
<ul class="post-list">
  {% for post in site.posts %}
    <li class="post-row">
      <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%b %-d, %Y" }}</time>
      {% if post.excerpt %}
        <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</p>
      {% endif %}
    </li>
  {% endfor %}
</ul>
